.blog-listing {
  justify-content: space-between;

  display: flex;
}
.blog-post {
  flex-direction: column;

  display: flex;
  &__date {
  }
  &__title {
  }
  &__description {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 98%;
  }

  &__topic {
    text-align: center;
  }
  &__topic-logo {
    height: 5rem;
  }
}
