.projects-listing {
}

.project-item {
  justify-content: space-between;
  align-items: center;

  display: flex;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  &__name {
    & a {
      color: var(--grey-dark-2);
      text-decoration: none;
    }
  }

  &__description {
    word-wrap: break-word;

    flex-basis: 20%;
  }

  &__logo-box {
  }

  &__logo {
    max-width: 30rem;
    max-height: 20rem;
    vertical-align: bottom;
  }

  &__links-box {
    justify-content: space-between;
    align-items: center;

    display: flex;
  }

  &__link {
    text-decoration: none;

    align-items: center;
    justify-content: space-between;

    display: flex;

    border-radius: 0.3rem;
    cursor: pointer;

    color: var(--grey-dark-2);
    padding: 0.8rem;

    &:last-child {
      margin-left: 3rem;
    }

    &:hover {
      background-color: #e7e6e6;
    }
  }
  &__svg {
    height: 2rem;
    margin-right: 0.8rem;
  }

  &__button-text {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
