// TESTING
.container {
  border: rosybrown solid;
  height: 200rem;
}
//

.section-about {
  margin-top: 10rem;
  height: 40rem;

  border: blueviolet solid;
}

.section-projects {
  border: greenyellow solid;
}
