.container {
  max-width: 120rem;
  margin: 4rem auto;

  // TESTING
  border: solid red;
  height: 100vh;
}

.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
